/* header */

header table{
	width: 100%;
	margin: 0 auto;
	background: #333333;
}

header a{color: white;}
header td{padding: 15px;}

header td:hover{background: darkgrey;}
header a:hover{color: #333333;}


/* body */

h1, h2, p{color: #333333;}

/* You can change the FONT STYLE here. */

p{line-height:1.8;}

ol li{color: #333333;}

ul li{
	color: #333333;
	line-height: 1.8;
}

/* Change the FONT STYLE above. */

.profile_image{text-align: center;}

/* index page */
.index_gif{text-align: center;}

.index_img{text-align: center;}

/* product page */
.product_table{text-align: center;}

.product_table table{
	width: 100%;
	margin: 0 auto;
}

.product_table td{padding: 10px;}

.product_table tr:nth-child(2), .product_table tr:nth-child(4), .product_table tr:nth-child(6){
	background-color: #333333;
}

.product_table a{color: white;}

.product_table tr:nth-child(2) td:nth-child(1):hover, .product_table tr:nth-child(2) td:nth-child(2):hover, .product_table tr:nth-child(2) td:nth-child(3):hover, .product_table tr:nth-child(2) td:nth-child(4):hover, .product_table tr:nth-child(4) td:nth-child(1):hover, .product_table tr:nth-child(4) td:nth-child(2):hover, .product_table tr:nth-child(4) td:nth-child(3):hover, .product_table tr:nth-child(4) td:nth-child(4):hover, .product_table tr:nth-child(6) td:nth-child(1):hover, .product_table tr:nth-child(6) td:nth-child(2):hover, .product_table tr:nth-child(6) td:nth-child(3):hover, .product_table tr:nth-child(6) td:nth-child(4):hover {
  background-color: grey;
}

.product_table a:hover {color: #333333;}

/* membership page */

body h2{text-align: center;}

.member_table:{text-align: center;}
.member_table table{
	border: 2px solid;
	width: 100%;
	margin: 0 auto;
	color: #333333;
}

.member_table th{
	background-color: #ff914d;
	color: white;
}


input[type="text"], input[type="email"], input[type="contact"]{
	width:100%;
	max-width:350px;
}

input[type="textarea"]{width:100%;}

input[type="submit"] {
  background-color: #333333;
  color: white;
  border-radius: 5px;
}

.button{text-align: center;}


/* footer */

footer{
	background: #333333;
	padding: 30px 0px;
}

footer p{color: white;}
.footer{text-align:center;}


/* RESPONSIVE */
/*desktop*/
@media screen and (min-width:1200px){
	div>img{
		width: 80%;
		height: auto;
	}
}
	

/*tablet*/
@media screen and (min-width:600px) and (max-width:1199px){
	div>img{
		width: 65%;
		height: auto;
	}

	.product_table {
	  width: 100%;
	  table-layout: auto;
	}

	.product_table td,tr {
	  max-width: 100%;
	  max-height: 100%;
	}

	.product_table img {
	  max-width: 100%;
	  height: auto;
	}
}


/*mobile*/
@media screen and (max-width:599px){
	 div>img{
		width: 55%;
		height: auto;
	}
	.product_table {
	  width: 100%;
	  table-layout: auto;
	}

	.product_table td,tr {
	  max-width: 100%;
	  max-height: 100%;
	}

	.product_table img {
	  max-width: 100%;
	  height: auto;
	}
}
	




